<% provide(:title, "checkAdmin") %>
<div class="center jumbotron">
  <h1>This page can only be view by admin</h1>
  
  <%= form_tag quizzes_conform_path do %>
    <%= text_field_tag :password %>
    <%= submit_tag("conform") %>
  <% end %>
</div>
