<% provide(:title, 'GithubArea') %>
<div class="center jumbotron">
  <h1>Github Area</h1>
  <h2>This area contains very basic comannds</h2>
  <%= link_to("start the invasion", "/gits/1/question", class: "btn btn-lg btn-primary")%>

</div>
