<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome Back, NightCourse Warriors</h1>

  <h2>
    This is the Question pages for the
    <a href="https://classroom.google.com/u/1/c/MzE1MjQxNDY3NDY4?hl=ja", target="_blank">NightCourse</a>
    warriors. 
  </h2>

  <%= link_to "Your BattleField is Here !", quizzes_index_path, class: "btn btn-lg btn-primary" %>
</div>
