<% provide(:title, "Index") %>
<div class="center jumbotron">
  <h1>Now Available</h1>
  <div class="quiz">
    <%= link_to image_tag("linux.png", alt: "Linux logo", width: "340px", height: "200px"), quizzes_linux_path %>
    <%= link_to image_tag("github.png", alt: "Linux logo", width: "340px", height: "200px"), quizzes_github_path %>
  </div>

</div>