<% provide(:title, "LinuxLose") %>
<div class="center jumbotron">
  <h1>You're Lose...</h1>
  <%= link_to("I will Never Give Up", "/linux/#{params[:id]}/question", class: "btn btn-lg btn-primary")%>
  <%= link_to("Answer", "/linux/#{params[:id]}/answer", class: "btn btn-lg btn-primary")%>
</div>
