<footer class="footer">
  <small>
    The <a href="/">NightCourse Warriors</a>
    by <a href="https://github.com/n20010", target="_blank">Koki Satani(n20010)</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "ITCOLLEGE",   'https://www.it-college.ac.jp/', target: :blank %></li>
      <li><%= link_to "Contact", contact_url %></li>
      <li><a href="https://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>