<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "NightCourse Warriors", root_url, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Linux",   quizzes_linux_path %></li>
        <li><%= link_to "Git",   quizzes_github_path %></li>
        <li><%= link_to "Comming Soon...", '#' %></li>
      </ul>
    </nav>
  </div>
</header>